@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <environment names="Development">
        <link href="~/dist/css/home.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/home.bundle.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}

<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewData["Title"]</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/dist/js/home.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/home.bundle.js" asp-append-version="true"></script>
    </environment>
}
