@{
    Layout = "_Layout";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

<!-- Header -->
<div class="header pb-6 d-flex align-items-center" style="min-height: 300px; background-image: url(https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-10">
                <h1 class="display-2 text-white">Hello @User.Identity.Name</h1>
                <p class="text-white">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-4">
            <partial name="_ManageNav" />
        </div>
        <div class="col-xl-8">
            @RenderBody()
        </div>
    </div>

</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
