@using BaseAdminProject.Business.Core

<div class="list-group">
    <a asp-page="./Index" class="list-group-item list-group-item-action @Html.GetActiveClass(Context.Request, Url.Page("./Index"))">
        Profile
    </a>
    <a asp-page="./Email" class="list-group-item list-group-item-action @Html.GetActiveClass(Context.Request, Url.Page("./Email"))">
        Email
    </a>
    <a asp-page="./ChangePassword" class="list-group-item list-group-item-action @Html.GetActiveClass(Context.Request, Url.Page("./ChangePassword"))">
        Senha
    </a>
</div>
