@page
@using BaseAdminProject.Business.Core
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ManageDescription"] = "Está é sua página de perfil, onde contém suas informações básicas.";
}

@section Styles {
    <environment names="Development">
        <link href="~/dist/css/profile.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/profile.bundle.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <partial name="_StatusMessage" />

        <form id="profileForm" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Username" class="form-control-label"></label>
                <div class="input-group input-group-merge input-group--disabled">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>

                    <input asp-for="Username" class="form-control" disabled>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="form-control-label"></label>
                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-phone"></i>
                        </span>
                    </div>

                    <input asp-for="Input.PhoneNumber" class="form-control" data-mask="@Globals.MaskPhone" />
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="invalid-feedback"></span>
            </div>

            <button type="submit" class="btn btn-primary float-right">
                Salvar
                <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Carregando...</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/dist/js/profile.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/profile.bundle.js" asp-append-version="true"></script>
    </environment>
}