@model BaseAdminProject.Models.FormModels.ChangePasswordFormModel
@{
    ViewData["Title"] = "Senha";
    Layout = "_LayoutManage";
    ViewData["ManageDescription"] = "Está é sua página de troca senha.";
}

@section Styles {
    <environment names="Development">
        <link href="~/dist/css/change-password.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/change-password.bundle.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <partial name="_StatusMessage" />

        <form id="changePasswordForm" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group mb-3">
                <label asp-for="OldPassword" class="form-control-label"></label>

                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input asp-for="OldPassword" class="form-control" placeholder="*******">

                    <div class="input-group-append eye-password eyePassword">
                        <span class="input-group-text">
                            <i class="fas fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <span asp-validation-for="OldPassword" class="invalid-feedback"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="NewPassword" class="form-control-label"></label>

                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input asp-for="NewPassword" class="form-control" placeholder="*******">

                    <div class="input-group-append eye-password eyePassword">
                        <span class="input-group-text">
                            <i class="fas fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <span asp-validation-for="NewPassword" class="invalid-feedback"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="form-control-label"></label>

                <div class="input-group input-group-merge">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input asp-for="ConfirmPassword" class="form-control" placeholder="*******">

                    <div class="input-group-append eye-password eyePassword">
                        <span class="input-group-text">
                            <i class="fas fa-eye-slash" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
            </div>

            <button type="submit" class="btn btn-primary float-right">
                Atualizar Senha
                <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Carregando...</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/dist/js/change-password.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/change-password.bundle.js" asp-append-version="true"></script>
    </environment>
}