@import "~bootstrap/scss/_variables";

.invalid-feedback {
	display: block;
}

.eye-password {
	cursor: pointer;
}

[data-notify="container"] {
	width: calc(100% - 30px) !important;
	max-width: 600px !important;
}

.form-group-invalid {
	.input-group-text {
		border-color: $danger;
	}
}

.form-group-valid {
	.input-group-text {
		border-color: $success;
	}
}

.validation-summary-errors {
	font-size: 80%;
	color: $danger;

	ul {
		list-style: none;
		padding: 15px;
		padding-left: 0;
		background-color: rgba($danger, 0.1);
	}
}

.input-group {
	&--disabled {
		span {
			background-color: #e9ecef;
		}
	}
}
