$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "./full-importation";

.invalid-feedback{
    display: block;
}

.eye-password {
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    margin-right: auto;
    color: #5c6873;
    z-index: 10;
}

[data-notify="container"] {
    width: 450px !important;
    text-align: center;
}