@{
    Layout = "_LayoutBase";
}

@section Styles {
    @RenderSection("Styles", required: false)
}

<partial name="_Sidenav" />

<!-- Main content -->
<div class="main-content" id="panel">

    <partial name="_TopNav" />

    @RenderBody()

</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
