<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"]</title>

    <partial name="_MetaTags" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <environment names="Development">
        <link href="~/dist/css/common.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/common.bundle.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/dist/js/vendors.bundle.js"></script>
        <script src="~/dist/js/commonChunks.bundle.js"></script>
        <script src="~/dist/js/common.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/vendors.bundle.js" asp-append-version="true"></script>
        <script src="~/dist/js/commonChunks.bundle.js" asp-append-version="true"></script>
        <script src="~/dist/js/common.bundle.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>