@using BaseAdminProject.Business.Core

<div class="list-group">
    <a asp-controller="Account" asp-action="Index" class="list-group-item list-group-item-action @Html.GetActiveClass(Context.Request, Url.Action("Index", "Account"))">
        Profile
    </a>
    <a asp-controller="Account" asp-action="ChangePassword" class="list-group-item list-group-item-action @Html.GetActiveClass(Context.Request, Url.Action("ChangePassword", "Account"))">
        Senha
    </a>
</div>
