<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>@ViewData["Title"]</title>

<meta name="description" content="Sistema administrativo genérico para ser usado em um erp.">
<meta name="author" content="Felipe Pergher">

<link href="~/images/Favicon/favicon.png" rel="icon" type="image/png">
