@using BaseAdminProject.Business.Core
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/logo/logo.png" class="navbar-brand-img" alt="...">
            </a>
            <div class="ml-auto ">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin"
                     data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link @Html.GetActiveClass(Context.Request, Url.Action("Index", "Home"))" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home text-primary"></i>
                            <span class="nav-link-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @Html.GetActiveClass(Context.Request, Url.Action("Index", "User"))" asp-controller="User" asp-action="Index">
                            <i class="fas fa-users text-primary"></i>
                            <span class="nav-link-text">Usuários</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>