@using BaseAdminProject.Business.Core
@{
    var message = TempData[Globals.StatusMessageKey] as string;
    var messageType = TempData[Globals.StatusMessageTypeKey] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-@messageType alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @message
            </div>
        </div>
    </div>

}
